.wrapper {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
.hero {
  height: 80vh;
  padding: 3rem;
  color: aliceblue;
  background: rgb(0, 0, 0);
}
.tag {
  position: absolute;
}
.box {
  margin: 0 auto;
  width: 5.5rem;
  border-radius: 5px;
  height: 3rem;
  background-color: black;
  font-family: "Titillium Web", sans-serif;
  border-bottom: 1px solid rgb(179, 179, 179);
}
.logo {
  color: rgb(179, 179, 179);
  padding: 0.5rem 0;
  text-transform: uppercase;
  font-size: 1.1rem;
}
.webdev {
  font-size: 1.4rem;
}
.bulbContainer {
  height: 5rem;
  font-size: 1rem;
  -webkit-perspective: 800px;
  perspective: 800px;
  position: relative;
  z-index: 20;
  padding-top: 0.5em;
  margin-bottom: 0.5em;
}
.bulbContainer::after {
  content: "";
  width: 1.125em;
  height: 0.5em;
  background: url(../../images/bulb-on.png);
  background-size: 100% 100%;
  position: absolute;
  left: calc(50% - 0.5625em);
  top: 0;
}
.bulb {
  font-size: 1rem;
  width: 3.375em;
  height: 11.5em;
  margin: 0 auto;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-animation: swing 3s ease-in-out infinite alternate;
  animation: swing 3s ease-in-out infinite alternate;
  position: relative;
  -webkit-transform-style: preserve3d;
  transform-style: preserve3d;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  cursor: pointer;
  display: block;
  background: none;
  border: none;
  -webkit-appearance: none;
  padding: 0;
}
.bulb:focus {
  outline-offset: 1rem;
  outline: none;
}
.bulb:active .bulbOn,
.bulb:focus .bulbOn,
.bulb:hover .bulbOn {
  outline: none;
  -webkit-animation: flicker 2s linear infinite alternate;
  animation: flicker 2s linear infinite alternate;
}
.bulb:active .bulbImage:before,
.bulb:focus .bulbImage:before,
.bulb:hover .bulbImage:before {
  outline: none;
  -webkit-animation: flicker-light 2s linear infinite alternate;
  animation: flicker-light 2s linear infinite alternate;
}
.bulbImage {
  outline: none;
  -webkit-transform-style: preserve3d;
  transform-style: preserve3d;
  display: block;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-animation: scale 2.5s ease-in-out -1.5s infinite alternate;
  animation: scale 2.5s ease-in-out -1.5s infinite alternate;
  left: -1.6rem;
  position: relative;
}
.bulbImage:before {
  content: "";
  position: absolute;
  left: calc(50% - 1px);
  bottom: 0;
  width: 0.625em;
  height: 0.625em;
  background: transparent;
  border-radius: 50%;
  z-index: -1;
  -webkit-box-shadow: 0 0 6.375em 4em #fff;
  box-shadow: 0 0 6.375em 4em #fff;
  -webkit-box-shadow: 0 0 6.375em 4em #49fae6;
  box-shadow: 0 0 6.375em 6.5em #49fae6;
  opacity: 0.6;
  -webkit-transform: scaleY(0.7) translateY(-1em) translateX(0.4em);
  transform: scaleY(0.7) translateY(-1em) translateX(0.4em);
  -webkit-transform-origin: center top;
  transform-origin: center top;
}
.bulbOn {
  height: 10rem;
  display: block;
  -webkit-filter: saturate(0);
  filter: saturate(0);
  -webkit-filter: saturate(1);
  filter: saturate(1);
  width: 3.375em;
}
@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  to {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
}
@keyframes swing {
  0% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  to {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
}
@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
  to {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
  }
}
@keyframes scale {
  0% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
  to {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
  }
}
@-webkit-keyframes flicker {
  0%,
  4%,
  8%,
  12%,
  20%,
  30%,
  40%,
  50%,
  to {
    -webkit-filter: saturate(0);
    filter: saturate(0);
  }
  2%,
  6%,
  10% {
    -webkit-filter: saturate(1.4);
    filter: saturate(1.4);
  }
  25%,
  35%,
  45% {
    -webkit-filter: saturate(1.6);
    filter: saturate(1.6);
  }
  80% {
    -webkit-filter: saturate(3);
    filter: saturate(3);
  }
}
@keyframes flicker {
  0%,
  4%,
  8%,
  12%,
  20%,
  30%,
  40%,
  50%,
  to {
    -webkit-filter: saturate(0);
    filter: saturate(0);
  }
  2%,
  6%,
  10% {
    -webkit-filter: saturate(1.4);
    filter: saturate(1.4);
  }
  25%,
  35%,
  45% {
    -webkit-filter: saturate(1.6);
    filter: saturate(1.6);
  }
  80% {
    -webkit-filter: saturate(3);
    filter: saturate(3);
  }
}
@-webkit-keyframes flicker-light {
  0%,
  4%,
  8%,
  12%,
  20%,
  30%,
  40%,
  50%,
  to {
    -webkit-filter: saturate(0);
    filter: saturate(0);
    opacity: 0.5;
  }
  2%,
  6%,
  10% {
    -webkit-filter: saturate(1.4);
    filter: saturate(1.4);
    opacity: 0.6;
  }
  25%,
  35%,
  45% {
    -webkit-filter: saturate(1.6);
    filter: saturate(1.6);
    opacity: 0.6;
  }
  80% {
    -webkit-filter: saturate(3);
    filter: saturate(3);
    opacity: 0.7;
  }
}
@keyframes flicker-light {
  0%,
  4%,
  8%,
  12%,
  20%,
  30%,
  40%,
  50%,
  to {
    -webkit-filter: saturate(0);
    filter: saturate(0);
    opacity: 0.5;
  }
  2%,
  6%,
  10% {
    -webkit-filter: saturate(1.4);
    filter: saturate(1.4);
    opacity: 0.6;
  }
  25%,
  35%,
  45% {
    -webkit-filter: saturate(1.6);
    filter: saturate(1.6);
    opacity: 0.6;
  }
  80% {
    -webkit-filter: saturate(3);
    filter: saturate(3);
    opacity: 0.7;
  }
}

.tag {
  width: 100%;
}

.gridColTwo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
}
.sloganContainer {
  padding: 1rem 2rem;
  width: 80%;
}
.slogan {
  font-family: "Indie Flower", cursive;
  color: rgb(179, 179, 179);
  padding-top: 10rem;
  word-spacing: 1rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-size: 4rem;
}

.signUP {
  padding: 1rem 2rem;
  width: 45%;
}
