body {
  background: black;
  color: rgb(236, 234, 234);
}
.wrapper {
  max-width: 1300px;
  width: 100%;
  margin: 30px auto;
  padding: 0 30px;
}

.courses {
  padding-bottom: 4rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  clip-path: polygon(100% 0, 92% 84%, 50% 100%, 8% 83%, 0 0);
  background: rgb(66, 58, 58);
}
.coursesParent {
  margin: 5rem auto;
  padding: 2rem;
  margin-bottom: 5rem;
  box-shadow: -1px 0 10px red;
}

.title {
  width: 17rem;
  padding-left: 3rem;
  font-family: "Acme", sans-serif;
  font-size: 5rem;
  color: #18cbeb;
  text-shadow: 2px 0px 10px #18cbeb;
  transition: text-shadow 5s ease-in-out;

  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);

  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);

  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 1s var(--ease-out-quart);
}
.title:hover {
  background: -webkit-linear-gradient(#0088ff, #18cbeb);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-shadow: 2px 20px 20px #18cbeb;
  transform: rotate(-5deg);
}

.gridCol2 {
  display: grid;
  grid-template-columns: 35% 60%;
  justify-items: center;
  padding: 3rem 5rem;
}

.htmlCircle {
  height: 14rem;
  width: 14rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin-top: 15%;
  border: 2rem solid rgb(182, 110, 110);
  border-radius: 50%;
  border-style: outset;
  transform: rotate(30deg);
  background: coral;
  transition: box-shadow 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
}

.htmlCircle:hover {
  border-style: outset;
  transform: rotate(60deg);
  transform: scale(0.9);
  box-shadow: 2px 2px 20px 2px rgb(243, 170, 170);
}

/* .htmlCircle:hover(:first-child) {
  transform: rotate(-30deg);
} */

.htmlCircleText {
  height: 14rem;
  width: 14rem;
  border-radius: 50%;
  margin: 0 auto;
  transform: rotate(-40deg);
  text-align: center;
  transition: transform 1s ease-in-out;
}
.htmlCircleText:hover {
  transform: rotate(-10deg);
}
.htmlCircleTitle a {
  font-size: 5rem;
  padding: 4rem 0;
  color: rgb(54, 52, 52);
  font-family: "Acme", sans-serif;
  transition: font-size 1s ease-in-out;
}
.htmlCircleTitle a:hover {
  font-size: 5.5rem;
  color: rgb(85, 79, 79);
}

.about {
  padding: 1rem;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 2px 2px 20px #aaa;
}

.aboutText {
  color: rgba(255, 255, 255, 0.822);
  font-size: 2rem;
  font-family: "Exo 2", sans-serif;
  line-height: 2.4rem;
}
.aboutTextUl {
  line-height: 4rem;
  padding: 3rem 0 0 3rem;
  list-style-type: square;
}
.aboutTextTitle a {
  text-decoration: underline;
  text-decoration-color: rgb(255, 216, 216);
  text-transform: uppercase;
  color: rgb(255, 216, 216);
  font-family: "Acme", sans-serif;
  cursor: pointer;
}
.goTo {
  text-align: center;
  background: transparent;
}
.btn {
  background: transparent;
}
.btn a:link,
.btn a:visited {
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  font-size: 0.8rem;
  display: inline-block;
  padding: 1rem 2rem;
  background: #777;
  color: rgb(255, 255, 255);
  border-radius: 50px;
  transition: all 0.2s;
}
.btn a:hover {
  transform: translateY(-3px);
  box-shadow: 0 16px 20px rgba(119, 119, 119, 0.89);
}

.btn a:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(119, 119, 119, 0.89);
}
.btn a::after {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50px;
  background: #777;
  z-index: -1;
  transition: all 0.8s;
}

.btn a:hover::after {
  transform: scaleX(1.4) scaleY(1.4);
  opacity: 0;
}
